In [1]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [2]:
todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [4]:
todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letra, i in zip(alfabeto, range (12, 68, 7)):
    df = todas_tablas[i]
    df.rename(columns = {df.columns[1]: 'Team'}, inplace = True)
    df.pop('Qualification')
    dict_tablas[f'Group {letra}'] = df

In [6]:
dict_tablas['Group C']

   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0

In [7]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_tablas, output)